# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
*.g.dart

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/client/build/

# Web related
lib/generated_plugin_registrant.dart

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages



# Backend
node_modules/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
dependency-reduced-pom.xml
release.properties
*.pem
*.py[co]

**/.vagrant
**/.vagrant*
**/.terraform
**/terraform.tfstate*

# Android Google Services file
google-services.json
client/android/app/src/main/res/values/secretkeys.xml
